<% if params[:location].present? %>
  <!-- render minimalist nav bar -->
  <h1>Independently Owned Coffee Shops in Your Area</h1><br><br>
  <% @local_coffee_shops.each do |cs| %>
    <% unformated_address = cs.location.display_address %>
    <div><%= unformated_address.first %></div>
    <div><%= unformated_address.last %></div><br>
    <div><%= link_to cs.name, cs.url %></div><br><br>
  <% end %>

<% else %>
  <!-- render smoothscroll nav bar-->

  <div id="search" class="content-box">
    <a href="#" onclick="return false;" onmousedown="smoothScroll('why-indie');">
    Why Indie Coffee</a><br />
    <a href="#" onclick="return false;" onmousedown="smoothScroll('about-me');">
    About Me</a><br />

    <%= form_tag coffee_shops_path, method: :get do %>
      <%= label_tag :location, 'Enter your zipcode' %>
      <%= text_field_tag :location %>
      <%= submit_tag(value="Search") %>
    <% end %>
  </div>

  <div id="why-indie" class="content-box">
    <p>Why Indie Coffee Shops are Important</p>
    <a href="#" onclick="return false;" onmousedown="returnScroller('search');">
  go back to top</a>
  </div>

  <div id="about-me" class="content-box">
    <p>Who am I?</p>
    <a href="#" onclick="return false;" onmousedown="returnScroller('search');">
  go back to top</a>
  </div>
<% end %>





