<% if params[:location].present? %>

  <h1>Independently Owned Coffee Shops in Your Area</h1><br><br>
  <% @local_coffee_shops.each do |cs| %>
    <% unformated_address = cs.location.display_address %>
    <div><%= unformated_address.first %></div>
    <div><%= unformated_address.last %></div><br>
    <div><%= link_to cs.name, cs.url %></div><br><br>
  <% end %>

<% else %>

  <%= form_tag coffee_shops_path, method: :get do %>
  <!-- forms usually submit as post you have to specify get bc its diff (get) -->
  <!-- form_tag doesnt provide a temp variable -->
  <!-- non-model aware form bc css is only-->
    <%= label_tag :location, 'Enter your zipcode' %>
    <%= text_field_tag :location %>

    <%= submit_tag(value="Search") %>
  <% end %>

<% end %>





